{% extends "views/components/widgets/base.htm" %}
{% load i18n %}

{% block form %}
<div class="row widget-wrapper" data-bind="class: nodeCssClasses">
    <div class="form-group">
        <span class="control-label widget-input-label" data-bind="text:label, class: nodeCssClasses"></span>
        <!-- ko if: node -->
        <i data-bind="css: {'ion-asterisk widget-label-required': node.isrequired}"></i>
        <!-- /ko -->
        <div class="col-xs-12 resource-instance-wrapper" data-bind="class: nodeCssClasses">
            <select style="display:inline-block;"
                data-bind="
                    disable: disabled,
                    select2Query: {
                        select2Config: select2Config
                    },
                    attr: {'data-label': label}
                "></select>
        </div>
        <!-- ko if: canIssueUserSignupLink() -->
        <!-- ko if: userToAdd() -->
        <div class="aher-nodata-note">
            Cannot copy a signup link if a user is attached
        </div>
        <!-- /ko -->
        <!-- ko ifnot: userToAdd() -->
        <div class="aher-nodata-note">
            <a href="#" data-bind="click: (data, event) => { issueUserSignupLink().done(link => { console.log(link); navigator.clipboard.writeText(link.userSignupLink); event.target.textContent = 'Copied signup link'; }) }" onkeyup="if(event.which == 13 || event.keyCode == 13){ $(this).trigger('click'); }">&#x2398; Copy signup link for this Person</a>
        </div>
        <!-- /ko -->
        <!-- /ko -->
    </div>
</div>
{% endblock form %}

{% block config_form %}
<div>
    <div class="control-label">
        <span data-bind="text: ''"></span>
    </div>
    <div class="col-xs-12 pad-no crud-widget-container">
        <input
            class="form-control input-md widget-input"
            data-bind="
                attr: {placeholder: '', 'aria-label': ''},
                value: placeholder,
                valueUpdate: 'keyup'
            "
        >
    </div>
</div>
<div class="control-label">
    <span data-bind="text: ''"></span>
</div>
<div>
    <div class="form-group">
        <div class="col-xs-12 resource-instance-wrapper">
            <select style="display:inline-block;"
                data-bind="
                    select2Query: {
                        select2Config: select2Config
                    },
                    attr: {'data-label': ''}
                "></select>
        </div>
    </div>
</div>
{% endblock config_form %}

{% block report %}
<dt data-bind="text: label, class: nodeCssClasses"></dt>
<!-- ko if: value() -->
    <dd data-bind="text: displayName, class: $parent.nodeCssClasses">
    </dd>
<!-- /ko -->
{% endblock report %}
